<form action="{{baseURL}}create-topic" method="post">
  <div>
    <input name="title" type="text" placeholder="Title" required>
  </div>
  <div>
    <select name="type">
      <option value='react'>React</option>
    </select>
  </div>
  <button>Submit</button>
</form>